body {
  background-color: #f4d04e;
  margin: 0;
  padding: 0;

  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#card-container {
  padding: 1.5rem;

  display: flex;
  flex-direction: column;

  width: 21rem;

  background-color: #ffffff;

  border: 1px solid black;
  border-radius: 1.25rem;

  box-shadow: 8px 8px 0px 0px #000;
}
#card-container > img {
  height: 12.5rem;
  width: 21rem;
  border-radius: 1.25rem;
}

#card-texts {
  width: fit-content;

  display: flex;
  flex-direction: column;
}

#card-texts span:not(:first-child) {
  /* styles for all spans inside #card-text except the first */
  margin-top: 0.75rem;
}

#card-container div {
  margin-top: 1.5rem;
}

#card-user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#card-user img {
  width: 2rem;
  height: 2rem;

  border-radius: 2rem;

  margin-right: 0.75rem;
}

#card-user span {
  color: #111111;

  /* Body S (Bold) */
  font-family: Figtree;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 21px */
}

.btn-primary {
  padding: 0.25rem 0.75rem;
  background-color: #f4d04e;
  width: fit-content;
  border-radius: 4px;

  color: #111111;

  /* Body S (Bold) */
  font-family: Figtree;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 21px */
}

.text-simple {
  color: #111111;

  /* Body S (Regular) */
  font-family: Figtree;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
}

.text-title {
  color: #111111;

  /* Heading */
  font-family: Figtree;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 36px */

  transition: all 500ms;
}
.text-title:hover {
  color: #f4d04e;
}

.text-secondary {
  color: #7f7f7f;

  /* Body M */
  font-family: Figtree;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
